<div id="page-header" class="clearfix">
  <h1>
    <a href="/">unisex hairmake CAOS</a>
  </h1>
  <div class="sns-buttons clearfix">
    <div class="sns-buttons-label">Follow us!</div>
    <%= link_to 'facebook', 'http://www.facebook.com/pages/Unisex-hairmake-Caos/446876805356728', { class: 'sns-buttons-facebook', target: '_blank' } %>
    <%= link_to 'twitter', 'https://twitter.com/CAOS_1999', { class: 'sns-buttons-twitter', target: '_blank' } %>
  </div>
</div>

<div id="clear-block"></div>
<br/>

<div id="page-menu">
  <% (1..8).each do |n| %>
    <%= link_to image_tag("menu/0#{ n }.png", height: 40, width: '274'), (n == 1 ? '/' : "#section0#{ n }"), id: 'about' %>
    <br/>
  <% end %>
</div>

<div id="maximage2" style="float:center;">
  <div class="video" style="float:center;">
    <iframe width="100%" height=600 src="http://www.youtube.com/embed/mT8l27jVdT0" frameborder="0" class="youtube-video" allowfullscreen>
    </iframe>
  </div>
</div>

<div id="container">
  <div class="section" id="section02">
    <h3>
      <%= image_tag("menu/02.png", :height => '40', :width => '274') %>
    </h3>
    <p class="normal">1999年9月15日OPEN。<br>
	  以来、コンセプトを”Avangard”とおき、<br>
	  スタッフ全員が確かな知識と技術力で<br>
	  お客様一人一人に全力を尽くしていくと共に、<br>
	  常にトータル的な革新さをプロデュースしていきたいと考えています。<br>
	</p>
	<br>
	<p class="gold">OPEN：<br>
	  11am - 9pm ：Weekday<br>
	  10am - 7pm ：Sunday & Holiday<br>
	  Closed on Tuesday & first and third Monday of each month<br>		
	</p>		
    <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
	<br/>
  </div>

<div class="section" id="section03">
  <h3>
    <%= image_tag("menu/03.png", :height => '40', :width => '274') %>
  </h3>
  <ul>
    <li>CUT（シャンプー、ブロー込）<font color="#EEE8AA">¥4,500</font></li>
	<li>PERM（cut、シャンプー、ブロー込）<font color="#EEE8AA">¥8,000〜</font>　※スタイルによって料金が異なります。</li>
	<li>COLOR（cut別）<font color="#EEE8AA">¥4,000〜</font>　※カラーの入れ方（メッシュ、ダブルカラー、etc）によって料金が異なります。</li>
	<li>STUDENT DISCOUNT（シャンプー、ブロー込）<font color="#EEE8AA">¥3,700</font>　※中学・高校・大学・専門学校生</li>
	<li>TREATMENT　<font color="#EEE8AA">¥5,000〜</font>　※種類（アロマトリートメント・セリエエクスパート）によって料金が異なります。</li>		
	<li>縮毛矯正（cut、シャンプー、ブロー込）　<font color="#EEE8AA">¥19,950〜</font></li>		
	<li>エクステンション / ドレッド　<font color="#EEE8AA">ask</font></li>		
	<li>SET<font color="#EEE8AA">　¥4,200</font></li>
	<li>ブロー<font color="#EEE8AA">　¥1,050</font></li>
	<li>着付<font color="#EEE8AA">　¥6,300</font> ※要予約</li>
	<li>（各価格税抜き）</font></li>
    <br/>
    <br/>
  </ul>

  <table id="caospa_tbl">
    <td><%= image_tag("links/caospa.gif", :alt => "", :height => '31', :width => '96') %></td>
    <td><p class="normal">CAOSPAは、CAOSに併設するヘッドスパ・ヘッドエステです。</p></td>
  </table>
  
  <ul>
    <li>スキャルプピーリングエステ<font color="#EEE8AA">　60min　¥6,000</font></li>
	<li>スキャルプコントロールエステ<font color="#EEE8AA">　50min　¥5,000</font></li>
	<li>３回分回数券<font color="#EEE8AA">　¥12,000（通常より¥3,000 OFF）</font></li>
	<li>クリームバス<font color="#EEE8AA">　40min　¥4,000（プラス¥1,000でブローも出来ます）</font></li>
	<li>（各価格税抜き）</font></li>
  </ul>		
  </br>

  <% i = 0 %>
  <% 2.times do %>
    <% i += 1 %>
    <%=link_to(image_tag("caospa/caospa_#{format("%04d",i)}.jpg", :alt => "", :height => '180', :width => '135'), "/assets/caospa/caospa_#{format("%04d",i)}.jpg", :class => "fancybox", :rel => "caospa") %>
  <% end %>
  <br/>
  <br/>

  <ul>
    <li><font color="#48D1CC"><b>HPをご覧になった方</b></font></li>
	<li>CAOS ALL MENU 20%OFF（cutのみは10%OFF）</font></li>
	<li>CAOSPA ALL MENU 10%OFF</font></li>
	<li>（新規のお客様限定）</font></li>
  </ul>		
  <br/>

  <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
  <br/>		
</div>

<div class="section" id="section04">
  <h3>
    <%= image_tag("menu/04.png", :height => '40', :width => '274') %>
  </h3>		
  <%= image_tag("stylist/higuchi-san.jpg", :alt => "", :height => '130', :width => '130') %>
  <%=link_to(image_tag("facebook.png", :height => '60', :width => '60'), "http://www.facebook.com/morikazu.higuchi",  :target => '_blank') %>		
  <p class="normal">Owner: Morikazu Higuchi</p>
		
  <%= image_tag("stylist/syouta-san.jpg", :alt => "", :height => '130', :width => '130') %>
  <%=link_to(image_tag("facebook.png", :height => '60', :width => '60'), "http://www.facebook.com/syouta.suzuki.90",  :target => '_blank') %>		
  <%=link_to(image_tag("insta.png", :height => '60', :width => '60'), "http://instagram.com/syoutasuzuki",  :target => '_blank') %>		
  <p class="normal">Chief: Syouta Suzuki</p>
	    
  <%= image_tag("stylist/kana-san.jpg", :alt => "", :height => '130', :width => '130') %>		
  <p class="normal">Assistant: Kana Sato</p>
  <br/>

  <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
  <br/>				
</div>

<div class="section" id="section05">
  <h3>
    <%= image_tag("menu/05.png", :height => '40', :width => '274') %>
  </h3>		
  <% i = 0 %>
  <% 15.times do %>
    <% i += 1 %>
    <%=link_to(image_tag("gallery/flyer/flyer_#{format("%04d",i)}.jpg", :alt => "", :height => '180', :width => '180'), "/assets/gallery/flyer/flyer_#{format("%04d",i)}.jpg", :class => "fancybox", :rel => "gallery1") %>
  <% end %>
  <br/>

  <% i = 0 %>
  <% 14.times do %>
    <% i += 1 %>
    <%=link_to(image_tag("gallery/hair/hair_#{format("%04d",i)}.jpg", :alt => "", :height => '180', :width => '145'), "/assets/gallery/hair/hair_#{format("%04d",i)}.jpg", :class => "fancybox", :rel => "gallery1") %>
  <% end %>
  <br/>

  <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
  <br/>		
</div>
	
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){		
    
    $('a[href^=#home]').click(function(){
	  var speed = 700;
	  var p = 0;
	  $('html,body').animate({scrollTop:p}, speed, 'swing');
	    return false;
	});
		
　　　　$('a[href^=#]').click(function(){
	  var speed = 700;
	　　var i = $('a[href^=#]').index(this);
	  var p = $(".section").eq(i).offset().top;		
	  $('html,body').animate({scrollTop:p}, speed, 'swing');
	  return false;
	});
	$(".fancybox").fancybox({
	  openEffect	: 'none',
	　　closeEffect	: 'none'
　　　　});
  });
</script>

<div class="section" id="section06">
  <h3>
    <%= image_tag("menu/06.png", :height => '40', :width => '274') %>
  </h3>
  <%= (content_tag :p, link_to("CAOSブログ-->>", "http://blog.caos.jp", :target => "_blank"), :class => "gold") %>
  <br/>

  <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
  <br/>		
</div>

<div class="section" id="section07">
  <h3>
    <%= image_tag("menu/07.png", :height => '40', :width => '274') %>
  </h3>	
  <p class="normal">Label  ：　
    <%= link_to("SONZAI,", "http://www.sonzairecords.com", :target => "_blank") %>
    <%= link_to("CATUNE,", "http://www.catune.com", :target => "_blank") %>
    <%= link_to("STRAIGHT UP RECORDS", "http://www.straightup-rec.com", :target => "_blank") %>
  </p>
  <p class="normal">
    Band  ：　
    <%= link_to("toe,", "http://www.toe.st", :target => "_blank") %>
    <%= link_to("envy,", "http://www.sonzairecords.com/envy.html", :target => "_blank") %>
    <%= link_to("theSun,", "http://caos.jp/theSun", :target => "_blank") %>
    <%= link_to("Comeback my Daughters", "http://www.comebackmydaughters.com", :target => "_blank") %>
  </p>
  <p class="normal">
    Music  ：　
    <%= link_to("dotlinecircle", "http://dotlinecircle.com", :target => "_blank") %>
  </p>
  <p class="normal">
    Design：　
    <%= link_to("NSSGRAPHICA", "http://nssgraphica.com", :target => "_blank") %>
  </p>
  <br/>
  <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
  <br/>		
</div>
	
<div class="section" id="section08">
  <h3>
    <%= image_tag("menu/08.png", :height => '40', :width => '274') %>
  </h3>
  <p class="normal">ご予約はお電話・予約フォームから受け付けております。
    <%= link_to("予約フォーム", "/contact", :id => "contact") %>
    <br/>
  </p>
  <p class="normal">札幌市中央区南1条西19丁目　エスターロワイヤルビル2F（地下鉄東西線西18丁目駅から徒歩約2分）　<br/> tel/fax 011-614-7535</p>
    <iframe width="800" height="450" frameborder="10" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE+%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;aq=0&amp;oq=%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%971%E6%9D%A1%E8%A5%BF19%E4%B8%81%E7%9B%AE+caos&amp;sll=43.056029,141.328157&amp;sspn=0.002242,0.004544&amp;brcurrent=3,0x5f0b2994b799e711:0x110c71367f0adace,0&amp;ie=UTF8&amp;hq=%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;hnear=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE&amp;ll=43.055314,141.328696&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed&iwloc=B"></iframe><br /><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE+%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;aq=0&amp;oq=%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%971%E6%9D%A1%E8%A5%BF19%E4%B8%81%E7%9B%AE+caos&amp;sll=43.056029,141.328157&amp;sspn=0.002242,0.004544&amp;brcurrent=3,0x5f0b2994b799e711:0x110c71367f0adace,0&amp;ie=UTF8&amp;hq=%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;hnear=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE&amp;ll=43.055314,141.328696&amp;spn=0.006295,0.006295&amp;t=m" style="color:#0000FF;text-align:left" target='_blank'><font color="#EEE8AA">Google Mapへ</font></a>
  <br/>
  <%=link_to(image_tag("topmenu.png", :height => '60', :width => '60', :align => 'right'), "#home", :id => "home") %>
  <br/>		
</div>
</div>
