<!DOCTYPE html>
<html>

<head>
	<meta name="keywords" content="XXXXX リリース時には入れ込むababa">
	<meta name="description" content="XXXX リリース時には入れ込む">
  <title>unisex hairmake CAOS ***DEMO***</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- 各カテゴリ入力欄のCSS（仮置き） -->
<style> 
body {
  color: #222;
  font: 12px/20px Helvetica, Arial, sans-serif;
}
p,
ul {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 20px;
  font-size: 15px;
}

#container {
  width: 900px;
  margin: 0px auto;
}
.section {
margin: 0px auto;
width:800px;border: 1px solid #ccc;
padding:50px;background:#FFFFFF;
background:rgba(0,0,0,.7);
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
margin-top:30px;
margin-bottom:40px;
-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
box-shadow:0 1px 4px rgba(0,0,0,0.3);


}
.section p {
  color: #FFFFFF;
  padding-left: 30px;
  line-height: 35px;
  font-size: 15px;
}
.section p:last-child {
  margin-bottom: 0;
}

.section li {
  color: #FFFFFF;
  padding-left: 30px;
  line-height: 35px;
  font-size: 15px;
  list-style:outside none;
}

</style>


</head>
<body bgcolor="black">


    <%= yield %>

		
	<footer class="footer">
		<!-- ▼コピーライト -->
		<p class="footer-right">&copy; 1999 - <%= Time.now.year %> CAOS. All Rights Reserved.
		<br>
		Designed by designorance & Respira 2013.</p>
	
	</footer>


</body>



</html>
