<!DOCTYPE html>
<html>

<head>
	<meta name="keywords" content="美容院,ヘアーサロン,ヘアースタイル,カオス,CAOS,円山,バンド,音楽,Music,theSun,toe,envy,comeback my daughters,hair">
	<meta name="description" content="札幌にある美容院CAOSのサイトです。札幌市中央区南1条西19丁目エスターロワイヤルビル2F 011-614-7535">
  <title>unisex hairmake CAOS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_analytics(ENV["GOOGLE_ANALYTICS_CODE"])%>
</head>

<body bgcolor="black">

	<div id="maximage">
	    <div class="first-item">
			<%= image_tag("background.jpg", :alt => "", :height => '840', :width => '1400') %>
	    </div>	
	</div>

	<script type="text/javascript" charset="utf-8">
	$(function(){
	    $('#maximage').maximage();
	});
	</script>

    <%= yield %>
		
<footer class="footer">
  <!-- ▼コピーライト -->
  <p class="footer-right">&copy; 1999 - <%= Time.now.year %> CAOS. All Rights Reserved.
  <br>
  Designed by designorance & Respira 2013.</p>	
</footer>
</body>
</html>