<!DOCTYPE html>
<html>

<head>
	<meta name="keywords" content="XXXXX リリース時には入れ込むababa">
	<meta name="description" content="XXXX リリース時には入れ込む">
  <title>unisex hairmake CAOS ***DEMO***</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= google_analytics(ENV["GOOGLE_ANALYTICS_CODE"])%>
</head>

<body bgcolor="black">

    <%= yield %>
		
<footer class="footer">
  <!-- ▼コピーライト -->
  <p class="footer-right">&copy; 1999 - <%= Time.now.year %> CAOS. All Rights Reserved.
  <br>
  Designed by designorance & Respira 2013.</p>	
</footer>
</body>
</html>