<!DOCTYPE html>
<html>

<head>
	<meta name="keywords" content="XXXXX リリース時には入れ込む">
	<meta name="description" content="XXXX リリース時には入れ込む">
  <title>unisex hairmake CAOS ***DEMO***</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>






<!-- 各カテゴリ入力欄のCSS（仮置き） -->
<style> 
body {
  color: #222;
  font: 12px/20px Helvetica, Arial, sans-serif;
}
p,
ul {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 20px;
}

#container {
  margin: 0 auto;
  width: 900px;
}
.section {
border-bottom: 3px solid #ccc;
width:850px;padding:50px;background:#FFFFFF;
background:rgba(0,0,0,.7);
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
margin-bottom:40px;
-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
-moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
box-shadow:0 1px 4px rgba(0,0,0,0.3);


}
.section p {
  color: #FFFFFF;
  padding-left: 30px;
  line-height: 35px;
  font-size: 15px;
}
.section p:last-child {
  margin-bottom: 0;
}

.section li {
  color: #FFFFFF;
  padding-left: 30px;
  line-height: 35px;
  font-size: 15px;
  list-style:outside none;
}

</style>


</head>
<body bgcolor="black">

	<div id="page-header">
	    
	  <table id="snstbl">
		  <td width="200">
		  </td>
          <td><%= image_tag("caos_logo.png") %></td>
		  <td width="70">
		  </td>
          <td><p><font color="#FFFFFF">Follow us</font></p>
          </td>
		  <td>
			<span>
			<a class='facebook' href='http://www.facebook.com/pages/Unisex-hairmake-Caos/446876805356728' target='_blank'>
		    <%= image_tag("facebook.png", :height => '60', :width => '60') %>
		    </a>
		    </span>
			<span>
			<a class='facebook' href='https://twitter.com/CAOS_1999' target='_blank'>		
		    <%= image_tag("twitter.png", :height => '60', :width => '60') %>
	        </a>
     	    </span>
		  </td>
		  <td width="20">
		  </td>
	  </table>
	</div>

	
	<div id="clear-block">
	</div>

<br/>	

<div id="maximage">

    <div class="first-item">
		<%= image_tag("background.jpg", :alt => "", :height => '840', :width => '1400') %>
    </div>	


</div>

<script type="text/javascript" charset="utf-8">
$(function(){
    $('#maximage').maximage();
});

$(document).ready(function(){
    $('a[href^=#]').click(function(){
        var speed = 700;
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        var body = 'body';
        if (navigator.userAgent.match(/MSIE/)){
            body = 'html';
        }
        $(body).animate({scrollTop:position}, speed, 'swing');
        return false;
    });
});
</script>


	<div id="page-menu" style="float:left;">
	    <a href="home"><%= image_tag("menu/01home.png", :height => '40', :width => '274') %></a>
	<br/>
	    <a href="#about"><%= image_tag("menu/02about.png", :height => '40', :width => '274') %></a>
    <br/>
	    <a href="#services"><%= image_tag("menu/03services.png", :height => '40', :width => '274') %></a>
    <br/>
	    <a href="#stylist"><%= image_tag("menu/04stylist.png", :height => '40', :width => '274') %></a>
    <br/>
	    <a href="#gallery"><%= image_tag("menu/05gallery.png", :height => '40', :width => '274') %></a>
    <br/>
	    <a href="#blog"><%= image_tag("menu/06blog.png", :height => '40', :width => '274') %></a>
    <br/>
	    <a href="#links"><%= image_tag("menu/07links.png", :height => '40', :width => '274') %></a>
    <br/>
	    <a href="#contact"><%= image_tag("menu/08contact.png", :height => '40', :width => '274') %></a>

    </div>


	<div id="maximage2">
		<div class="video">
	    	<iframe width="100%" height=700 src="http://www.youtube.com/embed/8DMiUHVwr9A" frameborder="0" class="youtube-video" allowfullscreen></iframe>
		</div>
	</div>

	<div id="container">

	  <div class="section" id="about">
		<h3>
	    <%= image_tag("menu/02about.png", :height => '40', :width => '274') %>
		</h3>
		<p>1999年9月15日OPEN。<br>
		以来、コンセプトを”Avangard”とおき、<br>
		スタッフ全員が確かな知識と技術力で<br>
		お客様一人一人に全力を尽くしていくと共に、<br>
		常にトータル的な革新さをプロデュースしていきたいと考えています。<br>
		<br>
		<font color="#EEE8AA">OPEN：<br>
		11am - 9pm ：Weekday<br>
		10am - 7pm ：Sunday & Holiday<br>
		Closed on Tuesday & first and third Monday of each month.</font><br>

		<br/>
		
		</p>
	  </div>
	  <div class="section" id="services">
		<h3>
	    <%= image_tag("menu/03services.png", :height => '40', :width => '274') %>
		</h3>
		<ul>
			<li>CUT（シャンプー、ブロー込）<font color="#EEE8AA">¥4,725</font></li>

			<li>PERM（cut、シャンプー、ブロー込）<font color="#EEE8AA">¥8,400〜</font>　※スタイルによって料金が異なります。</li>

			<li>COLOR（cut別）<font color="#EEE8AA">¥4,200〜</font>　※カラーの入れ方（メッシュ、ダブルカラー、etc）によって料金が異なります。</li>

			<li>STUDENT DISCOUNT（シャンプー、ブロー込）<font color="#EEE8AA">¥3,885</font>　※中学・高校・大学・専門学校生</li>

			<li>TREATMENT　<font color="#EEE8AA">¥3,150〜</font>　※種類（アロマトリートメント・セリエエクスパート）によって料金が異なります。</li>		
			<li>縮毛矯正（cut、シャンプー、ブロー込）　<font color="#EEE8AA">¥19,950〜</font></li>		

			<li>エクステンション / ドレッド　<font color="#EEE8AA">ask</font></li>		

			<li>SET<font color="#EEE8AA">　¥4,200</font></li>

			<li>ブロー<font color="#EEE8AA">　¥1,050</font></li>

			<li>着付<font color="#EEE8AA">　¥6,300</font> ※要予約</li>

            <br/>

		</ul>
	  </div>
	  <div class="section" id="stylist">
		<h3>
	    <%= image_tag("menu/04stylist.png", :height => '40', :width => '274') %>
		</h3>
		
        <%= image_tag("facebook_mustbedeleted/higuchi-san.jpg", :alt => "", :height => '130', :width => '130') %>
		<a href='http://www.facebook.com/morikazu.higuchi' target='_blank'>
	    <%= image_tag("facebook.png", :height => '60', :width => '60') %>
	    </a>
		<a class='facebook' href='https://twitter.com/byebyebw' target='_blank'>		
	    <%= image_tag("twitter.png", :height => '60', :width => '60') %>
        </a>
		<p>Owner: Morikazu Higuchi</p>
		
        <%= image_tag("facebook_mustbedeleted/syouta-san.jpg", :alt => "", :height => '130', :width => '130') %>
		<a class='facebook' href='http://www.facebook.com/syouta.suzuki.90' target='_blank'>
	    <%= image_tag("facebook.png", :height => '60', :width => '60') %>
	    </a>
		<a class='facebook' href='http://instagram.com/syoutasuzuki' target='_blank'>		
	    <%= image_tag("insta.png", :height => '60', :width => '60') %>
        </a>
		<p>Chief: Syouta Suzuki</p>
	    <%= image_tag("facebook_mustbedeleted/kana-san.jpg", :alt => "", :height => '130', :width => '130') %>		
		<p>Assistant: Kana Sato</p>

		
	  </div>
	  <div class="section" id="gallery">
		<h3>
	    <%= image_tag("menu/05gallery.png", :height => '40', :width => '274') %>
		</h3>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0001.jpg" title="">
	        <%= image_tag("gallery/flyer_0001.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0002.jpg" title="">
	        <%= image_tag("gallery/flyer_0002.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0003.jpg" title="">
	        <%= image_tag("gallery/flyer_0003.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0004.jpg" title="">
	        <%= image_tag("gallery/flyer_0004.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0005.jpg" title="">
	        <%= image_tag("gallery/flyer_0005.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0006.jpg" title="">
	        <%= image_tag("gallery/flyer_0006.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0007.jpg" title="">
	        <%= image_tag("gallery/flyer_0007.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0008.jpg" title="">
	        <%= image_tag("gallery/flyer_0008.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0009.jpg" title="">
	        <%= image_tag("gallery/flyer_0009.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0010.jpg" title="">
	        <%= image_tag("gallery/flyer_0010.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>

			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0011.jpg" title="">
	        <%= image_tag("gallery/flyer_0011.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0012.jpg" title="">
	        <%= image_tag("gallery/flyer_0012.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0013.jpg" title="">
	        <%= image_tag("gallery/flyer_0013.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0014.jpg" title="">
	        <%= image_tag("gallery/flyer_0014.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			<a class="fancybox" rel="gallery1" href="/assets/gallery/flyer_0015.jpg" title="">
	        <%= image_tag("gallery/flyer_0015.jpg", :alt => "", :height => '180', :width => '180') %>
		    </a>
			
	  </div>
	
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$(".fancybox").fancybox({
			openEffect	: 'none',
			closeEffect	: 'none'
		});
	});
	</script>

	  <div class="section" id="blog">
		<h3>
	    <%= image_tag("menu/06blog.png", :height => '40', :width => '274') %>
		</h3>
		<p>CAOSブログ-->><a href="http://blog.caos.jp" target='_blank'>コチラ</a></p>
	  </div>
	
	  <div class="section" id="links">
		<h3>
	    <%= image_tag("menu/07links.png", :height => '40', :width => '274') %>
		</h3>
	
	    <p>
		Shop  ：　
		<a href='http://caospa.jp' target='_blank'>
	      <%= image_tag("links/caospa.gif", :alt => "", :height => '31', :width => '96') %>
        </a></font>
        </p>

	    <p>
		Label  ：　
		<a href='http://www.sonzairecords.com' target='_blank'>
	      SONZAI, 
        </a></font>

		<a href='http://www.catune.com' target='_blank'>
	      CATUNE,
        </a></font>

		<a href='http://www.straightup-rec.com' target='_blank'>
	      STRAIGHT UP RECORDS
        </a></font>
        </p>

	    <p>
		Band  ：　
		<a href='http://www.toe.st' target='_blank'>
	      toe, 
        </a></font>

		<a href='http://www.sonzairecords.com/envy.html' target='_blank'>
	      envy,
        </a></font>

		<a href='http://caos.jp/theSun' target='_blank'>
	      theSun,
        </a></font>

		<a href='http://www.comebackmydaughters.com' target='_blank'>
	      Comeback my Daughters
        </a></font>
        </p>

	    <p>
		Music  ：　
		<a href='http://dotlinecircle.com' target='_blank'>
	      dotlinecircle 
        </a></font>
        </p>

	    <p>
		Design：　
		<a href='http://nssgraphica.com' target='_blank'>
	      NSSGRAPHICA 
        </a></font>
        </p>





	  </div>
	
	  <div class="section" id="contact">
		<h3>
	    <%= image_tag("menu/08contact.png", :height => '40', :width => '274') %>
		</h3>
		<p>tel/fax 011-614-7535</p>
		<p>札幌市中央区南1条西19丁目　エスターロワイヤルビル2F</p>

		<iframe width="850" height="450" frameborder="10" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE+%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;aq=0&amp;oq=%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%971%E6%9D%A1%E8%A5%BF19%E4%B8%81%E7%9B%AE+caos&amp;sll=43.056029,141.328157&amp;sspn=0.002242,0.004544&amp;brcurrent=3,0x5f0b2994b799e711:0x110c71367f0adace,0&amp;ie=UTF8&amp;hq=%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;hnear=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE&amp;ll=43.055314,141.328696&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed&iwloc=B"></iframe><br /><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE+%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;aq=0&amp;oq=%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%971%E6%9D%A1%E8%A5%BF19%E4%B8%81%E7%9B%AE+caos&amp;sll=43.056029,141.328157&amp;sspn=0.002242,0.004544&amp;brcurrent=3,0x5f0b2994b799e711:0x110c71367f0adace,0&amp;ie=UTF8&amp;hq=%EF%BC%A3%EF%BC%A1%EF%BC%AF%EF%BC%B3%EF%BC%B0%EF%BC%A1&amp;hnear=%E5%8C%97%E6%B5%B7%E9%81%93%E6%9C%AD%E5%B9%8C%E5%B8%82%E4%B8%AD%E5%A4%AE%E5%8C%BA%E5%8D%97%EF%BC%91%E6%9D%A1%E8%A5%BF%EF%BC%91%EF%BC%99%E4%B8%81%E7%9B%AE&amp;ll=43.055314,141.328696&amp;spn=0.006295,0.006295&amp;t=m" style="color:#0000FF;text-align:left" target='_blank'><font color="#EEE8AA">Google Mapへ</font></a>
		

	  </div>

	</div>

		
	<footer class="footer">
		<!-- ▼コピーライト -->
		<p class="footer-right">&copy; 1999 - <%= Time.now.year %> CAOS. All Rights Reserved.
		<br>
		Designed by designorance & Respira 2013.</p>
	
	</footer>


</body>



</html>
